- if value[:original_translation].is_a?(Hash) || value[:original_translation].is_a?(Array)
  %td.grouped{:colspan => "2"}
    %table
      - if value[:original_translation].is_a?(Hash)
        - value[:original_translation].each do |c_key,c_value|
          - if translation_visible?(value[:translation][c_key])
            %tr
              = render :partial => "translation", :locals => {:active_locale => active_locale, :key => "#{key}.#{c_key}", :original_key => key,  :translation => value[:translation][c_key], :original => c_value}
      - else
        - value[:original_translation].each_with_index do |c_value,index|
          - if translation_visible?(value[:translation][index])
            %tr
              = render :partial => "translation", :locals => {:active_locale => active_locale, :key => "#{key}[#{index}]", :original_key => key, :translation => value[:translation][index], :original => c_value}
- else
  = render :partial => "translation", :locals => {:active_locale => active_locale, :key => key,:original_key => key, :translation => value[:translation], :original => value[:original_translation]}
  