<% content_for :style do %>
  <%= stylesheet_link_tag "lolita/i18n/application.css", :media => "screen,projection" %>
<% end %>
<div class="tab box" id="i18n_edit">
  <div class="tab-title boxtitle black" >
    <h1>I18n edit</h1>
    <div class="arrow"></div>
  </div>
  <div class="tab-content">
    <%= render "language_wrap" %>
    <%= form_for :i18n, :url=>lolita_i18n_path, :html=>{:method=>:put} do |f| %>
      <div class="field string">
        <%= f.label "Key" %>
        <div class="field-value">
          <%=@translation[:key]%>
        </div>
      </div>
      <div class="field string">
        <%= f.label "Value" %>
        <div class="field-value">
          <%= text_area_tag "i18n[value]",@translation[:value], :class =>"string" %>
          <% if @translation[:translate_to].to_sym != ::I18n.default_locale %>
          <p class="hint">
            <span><%= ::I18n.default_locale %>:</span> <%=@translation[:original_value]%>
          </p>
          <% end unless @translation[:original_value].blank? %>
        </div>
      </div>

      <%= button_tag "Save", :type => "submit" %>
      <%= link_to "Next",next_lolita_i18n_path(:id=>@translation[:translate_from],:from=>@translation[:translate_to]) %>
    <% end %>
  </div>
</div>