<%= form_for :i18n, :url=>lolita_i18n_path, :html=>{:method=>:put} do |f| %>
  <% I18n.available_locales.each do |locale| %>
    <% new_id=@translation[:key].gsub(/^\w+./,"#{locale}.") %>
    <%= link_to locale.to_s.humanize, edit_lolita_i18n_path(:id=>new_id), :class=>@translation[:translate_to]==locale.to_s ? "active" : nil%>
  <% end %>
  <h4><%=@translation[:key]%></h4>
  <h4><%=@translation[:original_value]%></h4>
  <br/>
  <%= f.label "Value" %>
  <%= text_field_tag "i18n[value]",@translation[:value] %>
  <br/><br/>
  <%= f.submit %>
<% end %>

<%= link_to "Next",next_lolita_i18n_path(:id=>@translation[:translate_from],:from=>@translation[:translate_to]) %>