- content_for :style do
  = stylesheet_link_tag "lolita/i18n/application", :media => "screen,projection"
- content_for :script do
  = javascript_include_tag "lolita/i18n/application"
.box.i18n-bo
  .boxtitle
    %h1.black= ::I18n.t('lolita-i18n.title', :default => "Static content translation")
    .arrow
  .list
    %div.actions
      .filters
        = check_box_tag "show_untranslated", nil, params[:show_untranslated]
        = label_tag "show_untranslated", "Show translations that need approval"

      %button.translate{:'data-url' => translate_untranslated_lolita_i18n_index_path, :'data-locale' => @active_locale} Translate empty translations with Google
      .clear
    %table
      %thead
        %tr
          %th{:style => "width:450px"}
            = label_tag :active_locale, I18n.t(@active_locale, :default => @active_locale)
            - if locale_options.size > 1
              = select_tag :active_locale, options_for_select(locale_options), :id => "active_locale"
          %th{:style => "width:90%"}= ::I18n.t(::I18n.default_locale)
      %tbody
        - @translation_keys.each do |key|
          - if !params[:show_untranslated] or is_untranslated(key)
            %tr
              %td{:style => "width:450px", :'data-key' => key, :'data-locale' => @active_locale}
                %p= show_translation key
              %td{:style => "width:90%", :'data-key' => key, :'data-locale' => ::I18n.default_locale}
                %p= ::I18n.t(key, :locale => ::I18n.default_locale, :default => "")
                %span.hint
                  = key